
<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} <ng-container i18n="@@hero-detail.head">Details</ng-container></h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label><ng-container i18n="@@hero-detail.label.name">name:</ng-container>
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
  </div>
  <button (click)="goBack()"><ng-container i18n="@@action.go_back">go back</ng-container></button>
  <button (click)="save()"><ng-container i18n="@@action.save">save</ng-container></button>
</div>
