<h2 i18n="@@heroes.head">My Heroes</h2>
<div>
  <label><ng-container i18n="@@heroes.heroName">Hero name:</ng-container>
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    <ng-container i18n="@@action.add">add</ng-container>
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/heroes/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
